{% load thumbnail %}

{% if last_news_list %}
	<div class="news-front">
		<h2 class="news-header">Новости</h2>
		<div class="news-list">
			{% for news_item in last_news_list %}
				<a href="{{ news_item.get_absolute_url }}" class="news-item">
					<div>
						<img src="{{ news_item.cover|thumbnail_url:'publication-xxs' }}" alt="{{ news_item.header }}">
					</div>
					<div class="text">
						<span class="published-date">{{ news_item.publication_date }}</span>
						<span class="title">{{ news_item.header }}</span>
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="button">
			<a href="/news" class="button-s">Показать все</a>
		</div>
	</div>
{% endif %}