{% extends 'base.html' %}

{% load thumbnail %}
{% load static %}
{% load static_pages_tags %}


{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	{% page_title_block page_object.header %}

	<div class="page-container">

		<section class="article-content">

			<div class="top-content">
				<span class="published_date">
					{{ article_item.publication_date }}
				</span>
				{% include "includes/share.html" %}
			</div>

			<div class="cover-image">
				<img src="{{ article_item.cover|thumbnail_url:'publication-lg' }}" alt="{{ page_object.header }}">
			</div>

			<div class="content">
				{% autoescape off %}
					{{ article_item.content }}
				{% endautoescape %}
			</div>

			{% if article_item.pdf_file %}
				<a class="pdf-file" href="{{ article_item.pdf_file.url }}" download>
					<img class="icon" src="{% static '/icons/pdf-icon-color.svg' %}" alt="Download pdf">
					<span class="text">Прикрепленный файл</span>
				</a>
			{% endif %}

			{% if article_item.author %}
				<div class="author">
					{{ article_item.author }}
				</div>
			{% endif %}

		</section>

	</div>

{% endblock %}
