<!DOCTYPE html>

{% load static %}
{% load static_pages_tags %}

<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link type="text/css" href="{% static '/css/tailwind.css' %}" rel="stylesheet">
	{% block seo %}
		<title>SZFO</title>
	{% endblock %}
</head>
<body>
	<div class="main">
		{% block body %}{% endblock %}
	</div>
	<div class="bottom">
		{% block footer %}
			<div class="page-container">
				{% data_block 'footer_about_us' %}
				{% data_block 'footer_services' %}
				{% data_block 'footer_information' %}
				<div class="data">
					<div class="contacts">
						{% data_block 'phone_number' %}
						{% data_block 'address' %}
						{% data_block 'email' %}
					</div>
					{% data_block 'footer_data' %}
				</div>
			</div>
		{% endblock %}
	</div>
</body>
</html>