{% extends 'base.html' %}

{% load static %}
{% load static_pages_tags %}


{% block css-header %}
	<link type="text/css" href="{% static '/css/slider.css' %}" rel="stylesheet">
	<link type="text/css" href="{% static '/css/carousel-styles.css' %}" rel="stylesheet">
{% endblock %}

{% block js-header %}
	<script defer src="{% static '/js/slider.min.js' %}"></script>
	<script defer src="{% static '/js/scripts-frontpage.js' %}"></script>
	<script src="{% static '/js/carousel-script-min.js' %}"></script>
{% endblock %}

{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	<section>

		<div id="slider" class="page-container">
			{% slider_block %}
		</div>

		<div id="front-text" class="page-container">

			<h1 class="front-page-title">О нас</h1>

			{% autoescape off %}
				<div class="content">{{ page_object.content }}</div>
			{% endautoescape %}

		</div>

		<div id="services" class="page-container">
			{% data_block 'services' %}
		</div>

		<div id="news" class="page-container">
			{% news_front_block %}
		</div>

		<div id="partners" class="page-container">
			{% partners_front_block 'partner_carousel' %}
		</div>

	</section>

{% endblock %}

{% block js-footer %}
	{% include 'includes/partners.html' %}
{% endblock %}
