{% extends 'base.html' %}

{% load static_pages_tags %}


{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	<section>

		<div id="slider" class="page-container">
			slider
		</div>

		<div class="page-container">

			О нас

			{% autoescape off %}
				<div class="content">{{ page_object.content }}</div>
			{% endautoescape %}

		</div>

		<div id="services" class="page-container">
			{% data_block 'services' %}
		</div>

		<div id="news" class="page-container">
			news
		</div>

		<div id="partners" class="page-container">
			partners
		</div>

	</section>

{% endblock %}
