{% extends 'base.html' %}

{% load static_pages_tags %}


{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	<section>

		<div id="slider" class="hidden page-container">
			slider
		</div>

		<div id="front-text" class="page-container">

			<h1 class="front-page-title">О нас</h1>

			{% autoescape off %}
				<div class="content">{{ page_object.content }}</div>
			{% endautoescape %}

		</div>

		<div id="services" class="page-container">
			{% data_block 'services' %}
		</div>

		<div id="news" class="page-container">
			{% news_front_block %}
		</div>

		<div id="partners" class="page-container">
			{% partners_front_block %}
		</div>

	</section>

{% endblock %}
