{% extends 'base.html' %}

{% load thumbnail %}
{% load static_pages_tags %}


{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	{% page_title_block page_object.header %}

	<div class="page-container">

		<section class="news-content">
			<div>
				<img src="{{ news_item.cover|thumbnail_url:'publication-xl' }}" alt="{{ page_object.header }}">
			</div>
			{% autoescape off %}
				{{ news_item.content }}
			{% endautoescape %}
			{{ news_item.author }}
			{{ news_item.publication_date }}
		</section>

	</div>

{% endblock %}
