{% extends 'base.html' %}

{% load thumbnail %}
{% load static_pages_tags %}


{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	{% main_menu_block page_object.id %}

	{% page_title_block page_object.header %}

	<div class="page-container">

		{% if page_object.content %}
			{% autoescape off %}
				<section class="content">{{ page_object.content }}</section>
			{% endautoescape %}
		{% endif %}

		<section class="news-list">
			{% for news_item in news_list %}
				<div>
					<div>
						<img src="{{ news_item.cover|thumbnail_url:'publication-xs' }}" alt="{{ page_object.header }}">
					</div>
					<a href="{{ news_item.get_absolute_url }}">{{ news_item.header }}</a>
				</div>
			{% endfor %}
		</section>

	</div>

{% endblock %}
