{% extends 'base.html' %}

{% load thumbnail %}
{% load static_pages_tags %}


{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	{% page_title_block page_object.header %}

	<div class="page-container">

		<section class="news-content">

			<div class="top-content">
				<span class="published_date">
					{{ news_item.publication_date }}
				</span>
				{% include "includes/share.html" %}
			</div>

			<div class="cover-image">
				<img src="{{ news_item.cover|thumbnail_url:'publication-lg' }}" alt="{{ page_object.header }}">
			</div>

			<div class="content">
				{% autoescape off %}
					{{ news_item.content }}
				{% endautoescape %}
			</div>

			<div class="author">
				{{ news_item.author }}
			</div>

		</section>

	</div>

{% endblock %}
