{% extends 'base.html' %}

{% load thumbnail %}
{% load static_pages_tags %}


{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	{% page_title_block page_object.header %}

	<div class="page-container">

		{% if page_object.content %}
			{% autoescape off %}
				<section class="content">{{ page_object.content }}</section>
			{% endautoescape %}
		{% endif %}

		<section>
			<div class="news-list">
				{% for news_item in news_list %}
					<div class="news-item{% if forloop.counter == 1 %} first{% endif %}">
						<a href="{{ news_item.get_absolute_url }}">
							<div class="cover">
								<img src="{{ news_item.cover|thumbnail_url:'publication-xxs' }}" alt="{{ page_object.header }}">
							</div>
							<div class="text">
								<span class="published-date">{{ news_item.publication_date }}</span>
								<span class="title">{{ news_item.header }}</span>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

			{% pagination_block paginator page_obj %}

		</section>

	</div>

{% endblock %}
