{% extends 'base.html' %}

{% load thumbnail %}
{% load static_pages_tags %}


{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	{% page_title_block page_object.header %}

	<div class="page-container">

		{% if page_object.content %}
			{% autoescape off %}
				<section class="content">{{ page_object.content }}</section>
			{% endautoescape %}
		{% endif %}

		<section>
			<div class="partner-list">
				{% for partner_item in partners_list %}
					<div class="partner-item{% if forloop.counter == 1 %} first{% endif %}">
						<a href="{{ partner_item.link_url }}" target="_blank">
							<div class="cover">
								<img src="{{ partner_item.logo|thumbnail_url:'publication-xxs' }}" alt="{{ page_object.header }}">
							</div>
							<div class="text">
								<span class="title">{{ partner_item.header }}</span>
								<span class="link">{{ partner_item.link_url }}</span>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

		</section>

	</div>

{% endblock %}
