{% extends 'base.html' %}

{% load thumbnail %}
{% load static_pages_tags %}


{% block seo %}
	<title>{{ page_object.header }}</title>
{% endblock %}

{% block body %}

	{% page_title_block page_object.header %}

	<div class="page-container">

		{% if page_object.content %}
			{% autoescape off %}
				<section class="content">{{ page_object.content }}</section>
			{% endautoescape %}
		{% endif %}

		<section>
			<div class="publication-list">
				{% for publication_item in publications_list %}
					<div class="publication-item{% if forloop.counter == 1 %} first{% endif %}">
						<a href="{{ publication_item.source_url }}" target="_blank">
							<div>
								<img src="{{ publication_item.cover|thumbnail_url:'publication-xxs' }}" alt="{{ page_object.header }}">
							</div>
							<span class="text">
								<span class="published-date">{{ publication_item.publication_date }}</span>
								<span class="title">{{ publication_item.header }}</span>
							</span>
						</a>
					</div>
				{% endfor %}
			</div>

			{% pagination_block paginator page_obj %}

		</section>

	</div>

{% endblock %}
